<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>time_display</title>

    <style>
        *{
            margin: 0;
            padding: 0;
            text-align: center;
        }
        #wrapper{
           margin-left:300px;   

        }
    #title{
        border: 2px solid black;
        width: 300px;
      
        
    }
    #display_content{
        border:  2px solid black;
        width: 400px;
        margin-top: 20px;
    }

    </style>

</head>
<body>
    <div id="wrapper">
        <div id="title">
            <h3>The current time and date</h3>
        </div>
        <div id="display_content">
            {{date}}
            
            <br>
            {{time}} 
        </div>
    </div>
</body>
</html>